<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<%= render "info" , user: @user%>
<%= form_for(@user) do |f| %>
<%= f.text_field :name%>
<%= f.attachment_field :profile_image %>
<%= f.label :introduction %>
<%= f.text_area :introduction %>
<%= f.submit %>
<% end %>
