<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%=render "info" , user: @user %>
		<h2>New book</h2>
		<%=render "books/new_form" , book: @book %>
    </div>

	<div class="col-xs-9">
	    <h2>Users</h2>
		<table class='table table-hover table-inverse'>
		  <thead>
		    <tr>
		      <th></th>
		      <th>image</th>
		      <th>name</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
	        <%@users.each do |user| %>
			    <tr>
			      <th></th>
			      <th><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></th>
			      <th><%= user.name%></th>
			      <th><%=link_to "Show" , user_path(user)  %></th>
			      <th colspan="2"></th>
		        </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>